<{% extends 'base.html'%}

{%block content%}
<div  class="card mx-auto" style="width:76rem;">
    <div class="card-body">
      <h5 class = "card-title mb-3">Manage jobs</h5>
        <table class="table table-bordered">
          <thead>
          <tr>
     <th scope="col">Job Title</th>     
        <th scope="col">Location</th>      
          <th scope="col">Salary{USD}</th>     
             <th scope="col">Job Type</th>
                   <th scope="col">Industry</th>
                        <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            
            <td>{{job.job.title}}</td>
            <td>{{job.job.city}}. {{job.job.province}}</td>
            <td>{{job.job.salary}}</td>
            <td>{{job.job.job_type}}</td>
            <td>{{job.job.industry}}</td>
            
            
            
            <td><a href="{% url 'job-details' job.job.pk %}"><small>View Job</small></a></td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
    </div>

{% endblock content%}